{% extends 'master.html' %}

{% block title %} Profile {% endblock %}

{% block my_hospital %}
    {% if who_is_user == 'Patient' and user_data.is_ok %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a><br>
        <a href="{% url 'history' user_data.id %}">History</a><br>
        <a href="{% url 'visits' user_data.id %}">Visit</a>
    {% endif %}

    {% if who_is_user == 'Doctor' %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a><br>
        <a href="{% url 'patient' %}">Patients</a><br>
        <a href="{% url 'show_meds' %}">Meds</a><br>
        <a href="{% url 'doctor_visit' user_data.id %}">Visit</a><br>
        <a href="{% url 'show_patient_prescription' user_data.id %}">Prescription</a><br>
        <a href="{% url 'prescription_history' user_data.id %}">Prescription History</a><br>
        <a href="{% url 'deps' %}">Departments</a><br>
    {% endif %}

    {% if who_is_user == 'Staff' %}
        <a href="{% url 'edit_profile' %}">Edit Profile</a><br>
        <a href="{% url 'patient' %}">Patients</a><br>
        <a href="{% url 'show_doctors' %}">Doctors</a><br>
        <a href="{% url 'show_meds' %}">Meds</a><br>
        <a href="{% url 'show_prescription' %}">Prescriptions</a><br>
        <a href="{% url 'deps' %}">Departments</a><br>
    {% endif %}

{% endblock %}